
body{
    background-color: darkolivegreen;
}
.form {
    background-color: lightgreen;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 50px;
    border-radius:15px 15px 0px 15px;
}
form h2 {
    width: 50px;
    margin: auto;
}
form p {
    font-size: 24px;
}
form input{
    height: 40px;
    border-radius:15px 15px 0px 15px;
}