
body{
    background-image: url(images/formlog1.jpg);
    margin: 0;
    padding: 0;
    background-color: rgb(195, 204, 212);
}
.form {
    background-color: rgba(20, 22, 24);
    margin: auto;
    margin-top: 20px;
    width: 350px;
    padding: 30px;
    border-radius:15px 15px 0px 15px;
    box-shadow: 15px 15px 15px rgb(54, 54, 56);
    opacity: 0.5;
	transition-property: opacity;
	transition-duration: 5s;
   }
  
 .form:hover {
   opacity: 1;
  }

.h2 {
    text-align: center;
    color: white;
}
form p {
    font-size: 24px;
    color: white;
}
form input{
    width: 300px;
    height: 40px;
    border-radius:15px 15px 0px 15px;
}
.formlogo {
    position: relative;
    background-color: rgb(94, 108, 117);
    margin: auto;
    margin-top: 25px;
    width: 600px;
    padding: 20px;
    border-radius:15px 15px 0px 15px;
    box-shadow: 15px 15px 15px rgb(51, 56, 82);
}
.logo {
    
    width: 585px;
    margin: auto;
    margin-left: 8px;
}
#submitLog {
    font-size: 20px;
}